$gray: #b7b7b7;
$theme-color: #4b99ed;

/* Reset styles */
* {
  box-sizing: border-box;
}

/* General styles */
body {
  font: 16px 'Poppins', 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
  //color:#505050
  line-height: 1-6em;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}

.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
  table {
    width: 100%;
    thead tr {
      background: $theme-color;
      color: #fff;
    }
    tbody tr:hover {
      background: #fff;
    }
    a {
      display: block;
    }
  }
}

.background {
  // background-image: url('/images/morning_motivation__medium_4x3.jpg');
}

#main-header {
  background-color: $theme-color;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

#welcome {
  background-color: #feb819;
  font-weight: bold;
  font-style: italic;
}

#workout_name {
  display: block;
}

#submit {
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  border: none;
  font-size: 17px;
  margin-right: 20px;
  &:hover {
    background: #14b53e;
  }
}

input {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px 10px;
  line-height: 20px;
  &[type='text'] {
    margin-bottom: 10px;
    line-height: 30px;
    min-width: 300px;
  }
}

#reset {
  background-color: #ccc;
  color: #fff;
  padding: 15px 20px;
  border: none;
  font-size: 17px;
  &:hover {
    background: rgba(255, 0, 0, 0.897);
  }
}

.form_group {
  display: block;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  opacity: 0.95;
}

th,
td {
  padding: 10px;
  text-align: center;
}

/* Buttons */
.button {
  padding: 15px;
  border-radius: 4px;
  border: 0;
  font-size: 1rem;
  transition: all 300ms;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  &.button-primary {
    background: $theme-color;
    color: #fff;
  }
}

/* Login page */
.login_wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login_inner {
    width: 460px;
    padding: 30px;
  }
  .login_logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
      width: 100px;
      height: auto;
    }
    h1 {
      text-transform: uppercase;
      color: $gray;
    }
  }
  .form_login {
    & > div {
      margin: 30px 0;
    }
    label {
      display: block;
      margin-bottom: 10px;
    }
    input:not([type='submit']) {
      border: 1px solid gray;
      border-radius: 4px;
      padding: 15px;
      width: 100%;
    }
  }
}

footer.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  padding: 10px 30px;
  color: $gray;
  font-size: 0.8rem;
  text-align: right;
  letter-spacing: 1px;
}
