doctype html
html(lang="en")
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:400,700")
  body
    block content
    p With this website, you can make your own workouts with their own exercises, and you can even save and reload them.

    table#workoutTable
      thead
        tr
          td(colspan=4, align='center') Workout Name
        tr 
          td Exercise
          td Description 
          td Number of Reps
          td Sets 
      tbody
          td 
          td Test Data2
          td Test Data3
          td Test Data4
