extends layout

block content
  div.login_wrapper
    div.login_inner
      div.login_logo
        img(src='/images/logo.png' , alt=pageTitle) 
        h1= pageTitle
      form(action="/").form_login
        div
          label(for="username") Username
          input(type="text", name="username", placeholder="Your name")#username
        div
          label(for="password") Password
          input(type="password", name="password", placeholder="Your password")#password
        div
          input(type="submit", value="Log In").button.button-primary

  footer.footer Created by: Garrett Shirley, Vojtech Rychnovsky, Cuong Nguyen
    
