extends layout.pug

block content

    div.container.main-content
      table
      
        each workout in workouts
          tr
            td
              a(href='/workout/' + workout.id)=workout.name

      br
      br

      h2 Add New Workout
        
      form(action='/', method='POST')
        label(for="workout_name") Workout Name:
        input(name='workout_name', id='workout_name', value = '', type='text', required)
        input(id='submit',value='Submit', type='submit')
        input(id='reset',reset='Reset' type='reset') 
