extends layout.pug

block content
  h1= pageTitle
  p Welcome to: #{pageTitle}
  br
 

  table
    each workout in workouts
      tr
        td=workout.name
  br
  p TODO Allow excercises to be added to workouts, display those excercises (?)

  br
  p Add New Workout
  form(action='/', method='POST')
    p
      | Workout Name:
      input(name='workout_name', id='workout_name', value = '', type='text')
    input(value='Submit', type='submit')
    input(reset='Reset' type='reset')

  p TODO On submit, webpage stuck constantly loading after information is submitted to database