extends layout.pug

block content
  
    header#main-header
      div.container  
        h1= pageTitle
        
    #welcome
      div.container
        p #{pageTitle}
        br

    div.container
      table
      
        each workout in workouts
          tr
            td
              a(href='/workout/' + workout.id)=workout.name

        
    br

    br
    div.container
      p Add New Workout
        
          form(action='/', method='POST')
            p
              | Workout Name:
              input(name='workout_name', id='workout_name', value = '', type='text')
            input(id='submit',value='Submit', type='submit')
            input(id='reset',reset='Reset' type='reset') 
