extends layout.pug

block content
  h1= pageTitle
  p Welcome to: #{pageTitle}
  br
 

  table
    each workout in workouts
      tr
        td
          a(href='/workout/' + workout.id)=workout.name

      
  br

  br
  p Add New Workout
  form(action='/', method='POST')
    p
      | Workout Name:
      input(name='workout_name', id='workout_name', value = '', type='text')
    input(value='Submit', type='submit')
    input(reset='Reset' type='reset')
