extends workoutList.pug

block content
  table
    th 
      td Name
      td Description
      td Number per set
      td Number of sets
  each excercise in workouts.excercises
        tr
          td=excercise.name
          td=excercise.description
          td=excercise.set
          td=excercise.duration

  br 
  
  p Add New Exercise
  form(action='/workout/' + workoutId, method='POST')
    p
      | Exercise Name:
      input(name='exercise_name', id='exercise_name', value = '', type='text')
      | Description: 
      input(name='description', id='description', value='', type='text')
      | Number Per Set: 
      input(name='num_per_set', id='num_per_set', value='', type='text')
      | Number of Sets:
      input(name='num_sets', id='num_sets', value='', type='text')
    input(value='Submit', type='submit')
    input(reset='Reset' type='reset')